.row {
    display: flex;
    flex-wrap: warp;
}

.side1 {
    flex: 10%;
    background-image: url('https://i.etsystatic.com/27176604/r/il/1234c5/2797012460/il_fullxfull.2797012460_c0bz.jpg');
    padding: 20px;
}

.side2 {
    flex: 10%;
    background-image: url('https://pbs.twimg.com/media/EZ3HMnaWoAUqpgI.jpg');
    padding: 20px;
}

h1 {
    font-size: 36px;
}

table {
    font-size: 23px;
    text-align: center;
    border-color: palevioletred;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    line-height: 1.5;
    border-collapse: collapse;
}

option {
    font-size: 20px;
}